@model PostsView
@{
    ViewData["Title"] = "Home Page";
}

<p class="font-bold text-xl mt-3 text-center">Posts</p>

<div class="mx-auto py-4 px-6 flex flex-col w-4/5">
@{
    foreach(var post in Model.Posts)
    {
        @await Html.PartialAsync("_Post.cshtml", post)
    }
}
</div>

<div class="flex justify-center">
    <nav class="flex space-x-2" aria-label="Pagination">
        <a href="@Url.Action("Index", new { page = 1 })" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">
            <<
        </a>
        <a href="@Url.Action("Index", new { page = Math.Clamp(Model.CurrentPage - 1, 1, Model.TotalPages) })" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">
            <
        </a>
        <a href="@Model.CurrentPage" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">
            @Model.CurrentPage
        </a>
        <a href="@Url.Action("Index", new { page = Math.Clamp(Model.CurrentPage + 1, 1, Model.TotalPages) })" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">
            >
        </a>
        <a href="@Url.Action("Index", new { page = @Model.TotalPages })" class="mx-1 px-3 py-1 rounded-md bg-indigo-600 text-white hover:scale-125 transform transition duration-1">
            >>
        </a>

    </nav>
</div>